body {
  direction: rtl;
}

div {
  text-align: center;
}

p {
  font-family: Georgia;
  font-size: medium;
  font-style: italic;
  padding: 20px;
  color: cornflowerblue;
}

h3 {
  color: #2f2f2f;
}

.nav-bar {
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.nav-bar-img-size {
  width: 60px;
  height: 60px;
}

.nav-bar-a-color-red{
  color: #ff3d6a;
}

.nav-bar-p-color:hover {
  color: #50ff3d;
}

.main-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  justify-items: center;
}

@media(max-width: 425px){
  .main-grid {
    grid-template-columns: 1fr;
  }
}

.grid-item-style {
  width: 300px;
  height: 300px;
  background-color: #59599d;
}

.upper-text {
  text-transform: uppercase;
}

.main-grid-item-padding {
  padding-top: 10px;
}

.form-style {
  margin-top: 20px;
  background-color: #7a7a7a;
  width: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-down-width {
  width: 100px;
}

.radio-button-style {
  border-color: #555555;
  font-max-size:24px ;
  font-min-size: 10px;
}

.form-button-style {
  width: 200px;
  height: 30px;
  background-color: #b8ff68;
}

.table-style {
  width: 500px;
  background-color: #b8ff68;
  text-align: center;
  border-color: white;
  opacity: 50%;
}

.option-drop-color-red:hover {
  color: crimson;
}

.radio-button-style {
  display: block;
  border-color: #555555;
  font-max-size:24px ;
  font-min-size: 10px;
}
.option-drop-main {
  font-size: medium;
  color: #888888;
  width: 100px;
}

.flex-main {
  width: 800px;
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  margin: 10px 15px;
  border: 2px solid crimson;
  background-color: tomato;
  text-align: center;
  color: #2f2f2f;
  font-size: xx-large;
  font-style: italic;
}

.progress-style {
  width: 80%;
  color: #ffd83d;
}

.footer-style {
  background-color: coral;
  width: 100%;
  height: 200px;
}

.footer-p-style {
  text-align: center;
  font-size: xx-large;
}
